.filter--list {
  position: absolute;
  z-index: 98;
  border: 1px solid #e1e1e1;
  border-radius: .4rem;
  background: #fff;
  top: 12rem;
  left: 3.5rem;
  
}

@media only screen and (min-width: 417px) {
  .filter--list {
    width: 150px;
    top: 11.2rem;
    left: 3.5rem;
  }
}

@media only screen and (min-width: 461px) {
  .filter--list {
    width: 150px;
    top: 10.75rem;
    left: 3.5rem;
  }
}

@media only screen and (min-width: 774px) {
  .filter--list {
    width: 125px;
    top: 12.8rem;
    left: 5.4rem;
  }
}