.dashboard {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding-top: 10rem;
	/* margin-top: 10rem; */
}

.hero-section {
	position: relative;
	max-width: 1200px;
	height: 600px;
	max-height: 600px;
	margin: 0 auto;
	/* margin-top: 10rem; */
	/* padding: .25rem; */
	text-align: center;
}

.hero-section h3 {
	font-size: 3rem;
}

.hero-section h5 {
	font-size: 1.75rem;
}

.btn {
	display: inline-block;
	padding: 0.75rem;
	border-radius: 0.4rem;
	font-size: 1.5rem;
	margin: 1rem 0;
	color: #fff;
	background: #12c7b7;
	box-shadow: 0px 7px 0px #00957b;
	text-decoration: none;
}

.btn:hover,
.btn:focus {
	transform: translateY(2px);
	box-shadow: 0px 5px 0px #00957b;
}

.img-wrapper {
  margin: 0 auto;
  max-width: 400px;
}

.mobile-img {
  width: 100%;
  height: 100%;
}

.desktop-img {
  display: none;
}


@media only screen and (min-width: 768px) {
	.img-wrapper {
		position: absolute;
		bottom: -40%;
		max-width: 1200px;
		border: 1px solid #e1e1e1;
		border-radius: 0.4rem;
		/* height: 300px; */
	}

  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
  }

	.img-wrapper img {
		width: 100%;
		height: 100%;
	}
}
