.detail {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #707070;
}

.category {
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	padding: 0.25rem;
}

.text {
	font-weight: bold;
	font-size: 18px;
}

@media only screen and (min-width: 768px) {
	.category {
		font-size: 18px;
	}

	.text {
		font-size: 22px;
	}
}

@media only screen and (min-width: 768px) {
	.category {
		font-size: 16px;
	}

	.text {
		font-size: 20px;
	}
}
