@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

body {
  /* background-color: #F2F2F2; */
  overflow-y: scroll;
}

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: .4rem;
  text-align: center;
}

.alert-danger {
  color: #fff;
  background: #fa603f;
}
.alert-success {
  color: #fff;
  background:#12c7b7;
}

/* .active {
	color: #fff !important;
	background: #009beb !important;
} */

.main-nav {
  display: none;
}

.wrapper {
  height: 100%;
  position: relative;
}