.card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
	width: 160px;
	height: 235px;
	margin: .5rem .3rem ;
	border-radius: 0.8rem;
	transition: all 300ms ease-in-out;
	background: #fff;
	cursor: pointer;
	border: none;
	outline: none;
	border: 1px solid RGBA(0, 0, 0, 0.2);
	box-shadow: 0px 7px 0px RGBA(0, 0, 0, 0.2);
}

.card:hover {
	transform: translateY(5px);
	box-shadow: 0px 2px 0px RGBA(0, 0, 0, 0.2);
}

.card--header {
	width: 100%;
	height: 65px;
	padding: 1rem;
}

.amiibo--name {
	font-size: 1rem;
	color: #707070;
}


.card--body {
	width: 100%;
}

.image-container {
	margin: 0 auto;
	height: 100px;
}

.image-container img {
	display: block;
	margin: 0 auto;
	max-width: 95%;
	max-height: 95%;
}

.card--footer {
	bottom: 0;
	width: 100%;
	padding: .5rem;
}

.amiibo--series {
	text-align: center;
	font-size: 0.85rem;
	color: #707070;
	font-style: italic;
}

.amiibo--release {
	font-size: .85rem;
	padding: .25rem 0;
	color: #707070;
}

@media only screen and (min-width: 475px) {
	.card {
		width: 230px;
		height: 320px;
		margin: .5rem .3rem ;
	}

	.amiibo--name {
		font-size: 1.15rem;
		color: #707070;
	}
	
	.image-container {
		margin: 0 auto;
		height: 135px;
	}
}

@media only screen and (min-width: 1440px) {
	.card {
		width: 275px;
		height: 380px;
		margin: .5rem .3rem ;
	}

	.card--header {
		width: 100%;
		height: 45px;
		padding: 1rem;
	}

	.amiibo--name {
		font-size: 1.35rem;
		color: #707070;
	}
	
	.image-container {
		padding: 1rem 0;
		margin: 0 auto;
		height: 225px;
	}

	.amiibo--series {
		font-size: 1.1rem;
	}

	.amiibo--release {
		font-size: 1rem;
	}
}

/* @media only screen and (min-width: 2560px) {
	.card {
		width: 300px;
		height: 400px;
		margin: .5rem .3rem ;
	}

	.amiibo--name {
		font-size: 1.55rem;
		color: #707070;
	}

	.image-container {
		margin: 0 auto;
		height: 200px;
	}
	
	.amiibo--series {
		font-size: 1.25rem;
	}
} */