.form--container {
  /* width: 90%; */
  /* margin: 0 auto; */
  margin-top: 5rem;
  background: #f6f6f6;
  padding: .75rem;
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form--container h3 {
  color: #707070;
  margin-right: .25rem;
  font-size: .85rem;
}

.form--filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form--row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form--button {
  padding: .5rem .75rem;
  border-radius: .4rem;
  margin: .5rem .25rem;
  color: #fff;
  background: #51B848;
  box-shadow: 0px 7px 0px #398233;
  font-size: .75rem;
}

.form--button-active {
  transform: translateY(2px);
  filter: brightness(85%);
  box-shadow: 0px 5px 0px #398233;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}


.tab {
  width: 100px;
  height: 50px;
  background: grey;
  color: #fff;
  text-align: center;
  border-radius: .4rem .4rem 0 0;
}

.pages {
  display: none;
}

@media only screen and (min-width: 768px) {
  .form--container {
    width: 100%;
    padding: 2.5rem;
  }

  .form--filter {
    flex-direction: row;
  }

  .sort {
    justify-content: flex-end;
  }

  .form {
    flex-direction: column;
  }

  .pages {
    display: flex;
  }
}

@media only screen and (min-width: 1080px) {
  .form--button {
    padding: 1rem;
    font-size: 1rem;;
  }

  .form--container h3 {
    font-size: 1.25rem;
  }
}